.group-child83 {
  position: absolute;
  top: -1px;
  left: -1px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 97px;
  height: 35px;
}
.donate5 {
  position: absolute;
  top: 4px;
  left: 23px;
  font-weight: 300;
  display: inline-block;
  width: 53.44px;
  height: 16.5px;
}
.rectangle-parent38 {
  position: absolute;
  top: 0;
  left: 1153px;
  width: 95px;
  height: 33px;
}
.our-services7 {
  position: absolute;
  top: calc(50% - 9px);
  left: calc(50% - 49.5px);
  font-weight: 300;
  display: inline-block;
  width: 87px;
  height: 18px;
}
.vector-icon30 {
  position: absolute;
  top: calc(50% + 1px);
  left: calc(50% + 41.5px);
  width: 8px;
  height: 5px;
}
.get-involved6,
.our-services-parent4 {
  position: absolute;
  top: calc(50% - 16.38px);
  left: calc(50% + 11px);
  width: 99px;
  height: 18px;
  cursor: pointer;
}
.get-involved6 {
  top: calc(50% - 8.5px);
  left: calc(50% - 49px);
  font-weight: 300;
  display: inline-block;
  width: 90px;
  height: 17px;
}
.vector-icon31 {
  position: absolute;
  top: calc(50% + 0.5px);
  left: calc(50% + 41px);
  width: 8px;
  height: 5px;
}
.get-involved-parent3,
.self-assessment6 {
  position: absolute;
  top: calc(50% - 15.38px);
  left: calc(50% - 436px);
  width: 98px;
  height: 17px;
}
.self-assessment6 {
  top: calc(50% - 8.5px);
  left: calc(50% - 74.5px);
  font-weight: 300;
  display: inline-block;
  width: 149px;
}
.vector-icon32 {
  position: absolute;
  top: calc(50% + 0.5px);
  left: calc(50% + 37.5px);
  width: 8px;
  height: 5px;
}
.about-us8,
.self-assessment-parent3 {
  position: absolute;
  top: calc(50% - 15.38px);
  left: calc(50% - 294px);
  width: 149px;
  height: 17px;
  cursor: pointer;
}
.about-us8 {
  top: calc(50% - 8.5px);
  left: calc(50% - 38px);
  font-weight: 300;
  display: inline-block;
  width: 62px;
}
.vector-icon33 {
  position: absolute;
  top: calc(50% + 0.5px);
  left: calc(50% + 30px);
  width: 8px;
  height: 5px;
}
.about-us-parent3,
.homepage6 {
  position: absolute;
  top: calc(50% - 15.38px);
  left: calc(50% - 109px);
  width: 76px;
  height: 17px;
}
.homepage6 {
  top: calc(50% - 8.5px);
  left: calc(50% - 43px);
  font-weight: 300;
  display: inline-block;
  width: 75px;
}
.vector-icon34 {
  position: absolute;
  top: calc(50% + 0.5px);
  left: calc(50% + 35px);
  width: 8px;
  height: 5px;
}
.homepage-parent3 {
  position: absolute;
  top: calc(50% - 15.38px);
  left: calc(50% - 580px);
  width: 86px;
  height: 17px;
}
.group-child84 {
  position: absolute;
  top: 42.51px;
  left: -0.25px;
  border-top: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 1290.5px;
  height: 0.5px;
}
.group-wrapper9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1290px;
  height: 42.76px;
}
.image-7-container,
.image-7-icon1 {
  position: absolute;
  top: 0;
  width: 759px;
  height: 586px;
}
.image-7-icon1 {
  left: 0;
  object-fit: cover;
}
.image-7-container {
  left: 441px;
}
.take-control-of {
  margin: 0;
}
.take-control-of-container {
  position: absolute;
  top: calc(50% - 117px);
  left: calc(50% - 185px);
  display: inline-block;
  width: 370px;
}
.take-control-of-your-thoughts-wrapper {
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 599px);
  width: 370px;
  height: 234px;
}
.empower-your-mind {
  position: absolute;
  top: calc(50% - 96.5px);
  left: calc(50% - 261.5px);
  font-weight: 600;
  display: inline-block;
  width: 523px;
  height: 193px;
}
.group-child85 {
  position: absolute;
  top: 152.75px;
  left: 127.72px;
  border-top: 0.5px solid var(--color-black);
  box-sizing: border-box;
  width: 154.55px;
  height: 0.5px;
}
.empower-your-mind-elevate-you-parent {
  position: absolute;
  top: calc(50% - 249px);
  left: calc(50% - 600px);
  width: 523px;
  height: 193px;
  font-size: 48px;
}
.group-child86 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-midnightblue);
  box-sizing: border-box;
  width: 160px;
  height: 38px;
  cursor: pointer;
}
.learn-more {
  position: absolute;
  top: calc(50% - 13px);
  left: calc(50% - 44px);
  display: inline-block;
  width: 87px;
  height: 17px;
}
.rectangle-parent39 {
  position: absolute;
  top: 495px;
  left: 0;
  width: 160px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue);
}
.group-parent37 {
  position: absolute;
  top: 62px;
  left: 80px;
  width: 1200px;
  height: 586px;
  font-size: var(--font-size-lg);
}
.group-parent35 {
  position: absolute;
  top: 38px;
  left: 77px;
  width: 1290px;
  height: 648px;
}
.about-us9,
.company-name-is,
.our-mission-is1 {
  position: absolute;
  left: calc(50% - 310.5px);
  display: inline-block;
}
.about-us9 {
  top: calc(50% - 115.5px);
  font-weight: 600;
  width: 87px;
  height: 17px;
}
.company-name-is,
.our-mission-is1 {
  top: calc(50% - 96px);
  width: 621px;
}
.our-mission-is1 {
  top: calc(50% + 18px);
  font-size: var(--font-size-lg);
  width: 556px;
}
.company-name-is-a-service-com-parent {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 310.5px);
  width: 621px;
  height: 192px;
  font-size: var(--font-size-13xl);
}
.about-us-parent4 {
  position: absolute;
  top: calc(50% - 294.5px);
  left: calc(50% - 616.5px);
  width: 621px;
  height: 231px;
}
.group-child87,
.group-child88 {
  position: absolute;
  top: 0;
  left: 101px;
  width: 565px;
  height: 528px;
}
.group-child88 {
  left: 0;
  border-radius: 14px;
  background-color: var(--color-white);
  box-shadow: 14px 14px 22px 3px rgba(0, 0, 0, 0.25);
  width: 401px;
  height: 242px;
}
.vector-icon35 {
  position: absolute;
  height: 24.19%;
  width: 13.97%;
  top: 0;
  right: 86.03%;
  bottom: 75.81%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.your-present-circumstances-container {
  position: absolute;
  top: 19px;
  left: 73px;
  display: inline-block;
  width: 285px;
  height: 167px;
}
.vector-parent3 {
  position: absolute;
  height: 76.86%;
  width: 89.28%;
  top: 4.96%;
  right: 6.98%;
  bottom: 18.18%;
  left: 3.74%;
}
.group-parent39,
.group-wrapper10,
.rectangle-parent40 {
  position: absolute;
  top: 0;
  left: 0;
  width: 401px;
  height: 242px;
}
.group-parent39,
.group-wrapper10 {
  top: 349px;
}
.group-parent39 {
  top: 0;
  left: 567px;
  width: 666px;
  height: 591px;
  font-size: var(--font-size-5xl);
}
.vector-icon36 {
  position: absolute;
  height: 96.15%;
  width: 9.8%;
  top: 3.85%;
  right: 90.2%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.depression-detection-test {
  position: absolute;
  top: 0;
  left: 34px;
}
.vector-icon37,
.vector-parent4 {
  position: absolute;
  height: 11.3%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 88.7%;
  left: 0;
}
.vector-icon37 {
  height: 96.15%;
  width: 10.2%;
  right: 89.8%;
  bottom: 3.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon38,
.vector-parent5 {
  position: absolute;
  height: 11.3%;
  width: 96.09%;
  top: 22.61%;
  right: 3.91%;
  bottom: 66.09%;
  left: 0;
}
.vector-icon38 {
  height: 92.59%;
  width: 11.8%;
  top: 7.41%;
  right: 88.2%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon39,
.vector-parent6 {
  position: absolute;
  height: 11.74%;
  width: 83.04%;
  top: 43.91%;
  right: 16.96%;
  bottom: 44.35%;
  left: 0;
}
.vector-icon39 {
  height: 96.15%;
  width: 12.12%;
  top: 0;
  right: 87.88%;
  bottom: 3.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon40,
.vector-parent7 {
  position: absolute;
  height: 11.3%;
  width: 80.87%;
  top: 66.96%;
  right: 19.13%;
  bottom: 21.74%;
  left: 0;
}
.vector-icon40 {
  height: 92.59%;
  width: 15.44%;
  top: 7.41%;
  right: 84.56%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent40,
.vector-parent8 {
  position: absolute;
  height: 11.74%;
  width: 63.48%;
  top: 88.26%;
  right: 36.52%;
  bottom: 0;
  left: 0;
}
.group-parent40 {
  height: 35.55%;
  width: 18.65%;
  top: 53.94%;
  right: 77.78%;
  bottom: 10.51%;
  left: 3.57%;
  font-size: var(--font-size-lg);
}
.group-child89,
.rectangle-parent41 {
  position: absolute;
  width: 160px;
  height: 38px;
}
.group-child89 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-midnightblue);
  box-sizing: border-box;
}
.rectangle-parent41 {
  top: 609px;
  left: 44px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue);
}
.group-parent38 {
  position: absolute;
  top: calc(50% - 886.5px);
  left: calc(50% - 573px);
  width: 1233px;
  height: 647px;
  font-size: var(--font-size-xl);
}
.vector-icon41 {
  position: absolute;
  height: 96.15%;
  width: 7.75%;
  top: 3.85%;
  right: 92.25%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon42,
.vector-parent9 {
  position: absolute;
  height: 11.3%;
  width: 69.12%;
  top: 0;
  right: 30.88%;
  bottom: 88.7%;
  left: 0;
}
.vector-icon42 {
  height: 96.15%;
  width: 7.09%;
  right: 92.91%;
  bottom: 3.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon43,
.vector-parent10 {
  position: absolute;
  height: 11.3%;
  width: 75.53%;
  top: 22.61%;
  right: 24.47%;
  bottom: 66.09%;
  left: 0;
}
.vector-icon43 {
  height: 92.59%;
  width: 5.35%;
  top: 7.41%;
  right: 94.65%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon44,
.vector-parent11 {
  position: absolute;
  height: 11.74%;
  width: 100%;
  top: 43.91%;
  right: 0;
  bottom: 44.35%;
  left: 0;
}
.vector-icon44 {
  height: 96.15%;
  width: 6.4%;
  top: 0;
  right: 93.6%;
  bottom: 3.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon45,
.vector-parent12 {
  position: absolute;
  height: 11.3%;
  width: 83.61%;
  top: 66.96%;
  right: 16.39%;
  bottom: 21.74%;
  left: 0;
}
.vector-icon45 {
  height: 92.59%;
  width: 6.92%;
  top: 7.41%;
  right: 93.08%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent42,
.vector-parent13 {
  position: absolute;
  height: 11.74%;
  width: 77.43%;
  top: 88.26%;
  right: 22.57%;
  bottom: 0;
  left: 0;
}
.group-parent42 {
  height: 36.22%;
  width: 33.41%;
  top: 54.02%;
  right: 13.97%;
  bottom: 9.76%;
  left: 52.62%;
}
.image-8-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 564px;
  height: 597px;
  object-fit: cover;
}
.a-collection-of,
.self-assessment7,
.this-test-can {
  position: absolute;
  left: calc(50% - 337px);
  display: inline-block;
}
.self-assessment7 {
  top: calc(50% - 140.5px);
  font-weight: 600;
  width: 151px;
  height: 17px;
}
.a-collection-of,
.this-test-can {
  top: calc(50% - 118.5px);
  width: 674px;
  height: 126px;
}
.this-test-can {
  top: calc(50% - 3.5px);
  font-size: var(--font-size-lg);
  width: 587px;
  height: 122px;
}
.a-collection-of-free-online-te-parent,
.self-assessment-parent4 {
  position: absolute;
  top: calc(50% - 96.5px);
  left: calc(50% - 337px);
  width: 674px;
  height: 237px;
  font-size: var(--font-size-13xl);
}
.self-assessment-parent4 {
  top: calc(50% - 259.5px);
  left: calc(50% - 44px);
  height: 281px;
  font-size: var(--font-size-xl);
}
.rectangle-parent42 {
  position: absolute;
  top: 597px;
  left: 794px;
  width: 160px;
  height: 38px;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue);
}
.group-parent41 {
  position: absolute;
  height: 18.72%;
  width: 87.5%;
  top: 44.27%;
  right: 7.08%;
  bottom: 37.02%;
  left: 5.42%;
  font-size: var(--font-size-lg);
}
.image-9-icon1 {
  position: absolute;
  top: 18px;
  left: 144px;
  width: 899px;
  height: 553px;
  object-fit: cover;
}
.group-child91,
.group-child92,
.group-child93,
.group-child94 {
  position: absolute;
  top: 68.48px;
  left: 223.39px;
  background-color: var(--color-white);
  width: 741.77px;
  height: 70.16px;
}
.group-child92,
.group-child93,
.group-child94 {
  top: 131.01px;
  left: 417.2px;
  width: 374.39px;
}
.group-child93,
.group-child94 {
  top: 166.09px;
  left: 477.91px;
  width: 243.63px;
}
.group-child94 {
  top: 221px;
}
.group-child95,
.rectangle-parent43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1101px;
}
.group-child95 {
  background-color: var(--color-white);
  height: 201.49px;
}
.rectangle-parent43 {
  height: 291.17px;
}
.group-child96,
.group-child97,
.group-child98,
.group-child99 {
  position: absolute;
  top: 204.35px;
  left: 0;
  background-color: var(--color-white);
  width: 127px;
  height: 109.82px;
}
.group-child97,
.group-child98,
.group-child99 {
  top: 33.42px;
  width: 89px;
  height: 280.74px;
}
.group-child98,
.group-child99 {
  top: 0;
  left: 730px;
  width: 99px;
  height: 324.67px;
}
.group-child99 {
  top: 274.06px;
  left: 363px;
  border-radius: var(--br-11xl);
  height: 318.94px;
}
.image-9-group,
.rectangle-parent44 {
  position: absolute;
  top: 233px;
  left: 195px;
  width: 829px;
  height: 593px;
}
.image-9-group {
  top: 0;
  left: 296px;
  width: 1101px;
  height: 826px;
}
.life-is-full,
.not-only-consultation,
.our-services8 {
  position: absolute;
  left: calc(50% - 293.5px);
  display: inline-block;
}
.our-services8 {
  top: calc(50% - 126.5px);
  font-weight: 600;
  width: 129px;
  height: 17px;
}
.life-is-full,
.not-only-consultation {
  top: calc(50% - 105.5px);
  width: 587px;
  height: 122px;
}
.life-is-full {
  top: calc(50% + 10.5px);
  font-size: var(--font-size-lg);
  width: 575px;
  height: 95px;
}
.not-only-consultation-see-our-parent {
  position: absolute;
  top: calc(50% - 84.5px);
  left: calc(50% - 293.5px);
  width: 587px;
  height: 211px;
  font-size: var(--font-size-13xl);
}
.our-services-parent5 {
  position: absolute;
  top: calc(50% - 373px);
  left: calc(50% - 698.5px);
  width: 587px;
  height: 253px;
}
.vector-icon46 {
  position: absolute;
  height: 96.15%;
  width: 19.95%;
  top: 3.85%;
  right: 80.05%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon47,
.vector-parent14 {
  position: absolute;
  height: 14.44%;
  width: 76.87%;
  top: 0;
  right: 23.13%;
  bottom: 85.56%;
  left: 0;
}
.vector-icon47 {
  height: 96.15%;
  width: 18.04%;
  right: 81.96%;
  bottom: 3.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon48,
.vector-parent15 {
  position: absolute;
  height: 14.44%;
  width: 85.03%;
  top: 28.89%;
  right: 14.97%;
  bottom: 56.67%;
  left: 0;
}
.vector-icon48 {
  height: 92.59%;
  width: 15.34%;
  top: 7.41%;
  right: 84.66%;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon49,
.vector-parent16 {
  position: absolute;
  height: 15%;
  width: 100%;
  top: 56.11%;
  right: 0;
  bottom: 28.89%;
  left: 0;
}
.vector-icon49 {
  height: 96.15%;
  width: 22.77%;
  top: 0;
  right: 77.23%;
  bottom: 3.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent44,
.vector-parent17 {
  position: absolute;
  height: 14.44%;
  width: 67.35%;
  top: 85.56%;
  right: 32.65%;
  bottom: 0;
  left: 0;
}
.group-parent44 {
  height: 21.79%;
  width: 10.52%;
  top: 38.62%;
  right: 85.61%;
  bottom: 39.59%;
  left: 3.87%;
  font-size: var(--font-size-lg);
}
.rectangle-parent45 {
  position: absolute;
  top: 528px;
  left: 57px;
  width: 160px;
  height: 38px;
  cursor: pointer;
  font-size: var(--font-size-base);
  color: var(--color-midnightblue);
}
.group-parent43 {
  position: absolute;
  top: 2161px;
  left: 146px;
  width: 1397px;
  height: 826px;
  font-size: var(--font-size-xl);
}
.to-be-heard {
  position: absolute;
  top: 0;
  left: 39px;
  display: inline-block;
  width: 702px;
}
.vector-icon50,
.vector-icon51 {
  position: absolute;
  height: 15.85%;
  width: 3.23%;
  top: 0;
  right: 96.77%;
  bottom: 84.15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon51 {
  right: 0;
  left: 96.77%;
}
.to-be-heard-is-to-be-validated-parent {
  position: absolute;
  top: 2849px;
  left: 320px;
  width: 775px;
  height: 138px;
  text-align: center;
  font-size: var(--font-size-13xl);
}
.group-child101 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-teal-100);
  width: 1440px;
  height: 305px;
}
.services5 {
  position: absolute;
  top: calc(50% - 109px);
  left: calc(50% - 61px);
  font-weight: 500;
  display: inline-block;
  width: 79px;
  height: 17px;
}
.counselling7,
.mentoring7,
.online-classes7,
.phycological-tests5,
.webinar6 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 61px);
  display: inline-block;
  width: 79px;
  height: 17px;
}
.counselling7,
.online-classes7,
.phycological-tests5,
.webinar6 {
  top: calc(50% - 42.5px);
  width: 95px;
}
.online-classes7,
.phycological-tests5,
.webinar6 {
  top: calc(50% - 8.5px);
  width: 104px;
}
.phycological-tests5,
.webinar6 {
  top: calc(50% + 25.5px);
}
.phycological-tests5 {
  top: calc(50% + 59.5px);
  width: 122px;
}
.mentoring-parent3,
.services-parent3 {
  position: absolute;
  top: calc(50% - 44px);
  left: calc(50% - 61px);
  width: 122px;
  height: 153px;
  font-size: var(--font-size-base);
}
.services-parent3 {
  top: calc(50% - 116.5px);
  left: calc(50% - 292px);
  height: 218px;
  font-size: var(--font-size-xl);
}
.company-tagline-with5 {
  position: absolute;
  top: calc(50% - 32.5px);
  left: calc(50% - 144.5px);
  display: inline-block;
  width: 289px;
  height: 65px;
}
.company-tagline-with-logo-and-wrapper3 {
  position: absolute;
  top: calc(50% + 2.5px);
  left: calc(50% - 638px);
  width: 289px;
  height: 65px;
}
.mentor-partners5,
.our-story5,
.psychologist-partners5 {
  position: absolute;
  top: calc(50% - 76.5px);
  left: calc(50% - 78.5px);
  display: inline-block;
  width: 79px;
  height: 17px;
}
.mentor-partners5,
.psychologist-partners5 {
  top: calc(50% - 42.5px);
  width: 121px;
}
.psychologist-partners5 {
  top: calc(50% - 8.5px);
  width: 157px;
}
.advisor-partners5 {
  top: calc(50% + 25.5px);
  display: inline-block;
  width: 112px;
  height: 17px;
}
.advisor-partners5,
.company5,
.help5,
.our-story-parent3 {
  position: absolute;
  left: calc(50% - 78.5px);
}
.help5 {
  top: calc(50% + 59.5px);
  display: inline-block;
  width: 104px;
  height: 17px;
}
.company5,
.our-story-parent3 {
  top: calc(50% - 44px);
  width: 157px;
  height: 153px;
}
.company5 {
  top: calc(50% - 109px);
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 99px;
  height: 17px;
}
.group-parent45 {
  position: absolute;
  top: calc(50% - 116.5px);
  left: calc(50% - 93px);
  width: 157px;
  height: 218px;
}
.advisor6,
.mentor6 {
  position: absolute;
  top: calc(50% - 42.5px);
  left: calc(50% - 78.5px);
  display: inline-block;
  width: 79px;
  height: 17px;
}
.advisor6 {
  top: calc(50% - 8.5px);
  width: 121px;
}
.join-us-as5,
.mentor-parent3,
.psychologist6 {
  position: absolute;
  left: calc(50% - 78.5px);
  width: 157px;
}
.psychologist6 {
  top: calc(50% + 25.5px);
  display: inline-block;
  height: 17px;
}
.join-us-as5,
.mentor-parent3 {
  top: calc(50% - 10px);
  height: 85px;
}
.join-us-as5 {
  top: calc(50% - 75px);
  left: calc(50% - 75.5px);
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 105px;
  height: 17px;
}
.group-parent46 {
  position: absolute;
  top: calc(50% - 116.5px);
  left: calc(50% + 123px);
  width: 157px;
  height: 150px;
}
.about-our-mission5,
.our-whole-team-is-dedicated-to-wrapper3 {
  position: absolute;
  top: calc(50% - 0px);
  left: calc(50% - 144.5px);
  width: 289px;
  height: 65px;
}
.about-our-mission5 {
  top: calc(50% - 65px);
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
  width: 182px;
  height: 17px;
}
.group-parent47 {
  position: absolute;
  top: calc(50% - 116.5px);
  left: calc(50% + 330px);
  width: 289px;
  height: 130px;
}
.group-child102 {
  position: absolute;
  height: 4.92%;
  width: 10.14%;
  top: 70.16%;
  right: 14.65%;
  bottom: 24.92%;
  left: 75.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent46 {
  position: absolute;
  top: 3088px;
  left: 0;
  width: 1440px;
  height: 305px;
  color: var(--color-white);
}
.homepage5 {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 100%;
  height: 3393px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-jost);
}
